<div>
  <h4>About partial content block</h4>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa laudantium,
    perspiciatis dolores ipsam doloribus voluptate optio pariatur, quo iusto
    impedit dolorum magni qui? Expedita est, neque eveniet incidunt pariatur
    quas?
  </p>
</div>