<div class="terms">
  <h2>Термины</h2>
  <hr />
  <div class="row">
    <div class="col-md-6">
      <div class="terms-content">
        <b>
          <a
            href="https://ru.wikipedia.org/wiki/%D0%A1%D1%80%D0%B5%D0%B4%D0%B0_%D0%B2%D1%8B%D0%BF%D0%BE%D0%BB%D0%BD%D0%B5%D0%BD%D0%B8%D1%8F"
            target="_blank"
          >runtime</a>
        </b>
        - Среда выполнения (время выполнения). Вычислительное окружение
        необходимое для выполнения компьютерной программы и доступное во время
        выполнения программы.
      </div>
    </div>
  </div>
</div>