<aside class="sidebar">
    <h2>Sidebar</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim minus perspiciatis possimus quibusdam ut. Debitis
        dolorem fuga illum itaque numquam omnis perspiciatis, quaerat quos. Ducimus illo ipsum quod quos voluptates.
    </p>
    <ul class="category"></ul>
</aside>