<div class="slider">
    <h2>Vite project</h2>
    <div class="slider-inner">
        <a class="slider-link" href="https://developer.mozilla.org/ru/" target="_blank">
            <img src="/img/javascript.svg" alt="">
        </a>
        <a class="slider-link" href="https://vitejs.dev/" target="_blank">
            <img src="/img/vite.svg" alt="">
        </a>
    </div>
</div>