@font-face {
  font-family: 'Gerbera';
  src: url('/fonts/Gerbera.eot');
  src: url('/fonts/Gerbera.eot?#iefix') format('embedded-opentype'),
  url('/fonts/Gerbera.woff') format('woff'),
  url('/fonts/Gerbera.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}